/*container*/
.container {
    display: flex;
    width: 75%; 
}

/*fav*/
#fav {
    position: absolute;
    right:20%;
    margin-top: 3rem;
}

/*image box*/
.img-box {
    width: 30%;
    height: max-content;
    border: 1px rgb(220, 209, 209) ridge;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-box img {
    margin: 2rem 0;
    max-height: 400px;
}

/*info box*/
.info-box {
    font-size: 14px;
    width: 70%;
    padding: 1rem 2.5rem;
}

.info-box .baslik-info {
    display: flex;
    flex-direction: row;
}

.info-box .baslik-info p {
    margin-right: 1rem;
    font-size: 16px;
}

.info-box .detay-group {
    display: flex;
    flex-direction: row;
}

.info-box .detay-group label {
    font-weight: 800;
    margin-right: 0.5rem;
}

@media(max-width:1200px) {
    .container {
        width: 95%;
    }
    
    .img-box {
        width: 25%;
        border: 0;
    }
    
    .img-box img {
        max-height: 250px;
        border: 1px rgb(220, 209, 209) ridge;
        padding: 0.5rem;
    }

    .info-box {
        width: 75%;
    }

    .btn2 {
        width: 125px;  
    }
    
    #fav {
        right:12%;
    }
    
    .info-box .badge {
        position:fixed;
        left: 0;
        bottom: 0;
    }
}